<div class="spacer">
  <h3>BLOCO 001</h3>
  <p style="color: red">
    *Algumas respostas precisam de atenção ao case-sensitive
  </p>
  <table>
    <thead>
      <tr>
        <th>Nº</th>
        <th>Pergunta</th>
        <th>Resposta</th>
      </tr>
    </thead>
    <tr *ngFor="let pergunta of perguntas">
      <td>
        {{ pergunta.id }}
      </td>
      <td>
        {{ pergunta.texto }}
      </td>
      <td>
        <input #suaResposta />
        <button
          (click)="conferirResposta(suaResposta.value, pergunta.resposta)"
        >
          confirmar
        </button>
      </td>
    </tr>
  </table>
</div>
