<div class="espaco">
  <div class="central">
    <p style="color: red">
      *Algumas respostas precisam de atenção ao case-sensitive
    </p>
    <table>
      <h3>BLOCO 001</h3>
      <table class="tabela">
        <thead>
          <tr>
            <th>Nº</th>
            <th>Pergunta</th>
            <th>Resposta</th>
          </tr>
        </thead>
        <tr *ngFor="let pergunta of perguntas">
          <td>
            {{ pergunta.id }}
          </td>
          <td>
            {{ pergunta.texto }}
          </td>
          <td>
            <input
              id="{{ pergunta.id }}"
              #suaResposta
              [ngClass]="{certo, errado}"
            />
            <button
              (click)="conferirResposta(suaResposta.value, pergunta.resposta)"
            >
              ENVIAR
            </button>
          </td>
        </tr>
      </table>
    </table>
  </div>
</div>
