.spacer {
  flex: 1;
  text-align: center;
  margin-top: 10px;
}

table {
  display: inline-block;

  background-color:rgb(233, 242, 243);

  width: 50%;

}
table th,td {
  border: 1px solid;
  border-color: rgb(84, 95, 92);
}


.certo {
  background-color: rgb(6, 15, 2);
}
.errado{
  background-color:rgb(211, 152, 142)
}
.semResposta{
  background-color: aquamarine;
}
